.hContainer{
   .happbar{
      border-radius: 10px;
      .htitle{
         color:#9E9E9E;
         font-size: 1.5rem;
         padding-right: 4%;
        } 
        .htab{
            color:#9E9E9E;
         text-transform: capitalize;
        } 
   }
   
}